vendor/**/*
build/
composer.lock
.phpunit.cache/test-results
/.env
/.vscode/
/.idea/
/node_modules/
/.DS_Store
/.phpunit.result.cache
/.php-cs-fixer.cache
concat1.sh
docs.zip
generate-refactor-stubs.sh
larastan-report.json
prepare-lifecycle-review.sh
concat.sh
